.row
  .col-sm-3
    .panel.panel-primary
      .panel-heading
        = model_class.to_s.titleize
        [#{model_class.primary_key}: #{@row.send(model_class.primary_key)}]
      .panel-body
        - model_class.reflections.group_by{|k, relation| relation.macro}.each do |g, groups|
          %label= g.to_s.titleize
          %ul.nav.nav-pills.nav-stacked
            - groups.each do |k, relation|
              - count = @row.send(k).try(:count)
              - count_str = count && " (#{count})"
              %li(class="#{params[:relation] == k && 'active'}")= link_to_mirror_relation("#{k}#{count_str}", model: @row, relation: k)
        = render 'props', row: @row
  .col-sm-9
    - if @model_children
      .panel.panel-default
        .panel-heading
          = params[:relation].titleize
        = render 'table', rows: @model_children
